@model IEnumerable<odeToFood.Models.RestaurantListViewModel>
@{
    ViewBag.Title = "Home Page";
}

<form method="get">
    Please enter a restaurant name: <br />
    <input type="search" name="searchTerm"/>
    <input type="submit" name="Search by Name" />
</form>
@foreach(var item in Model)
{
    <div>
        <h4>@item.Name</h4>
        <div>@item.City, @item.Country, @item.CountOfReviews</div>
        <hr />
    </div>
}
